.header {
    background-color: #126f64;
}
.header-mobile {
    background-color: #126f64;
}

.content {
    background-color: #e6f5f3;
}
.footer {
    background-color: #126f64 !important;
}

#logo img{
    height: 60px !important;
}

#logo{
    padding-top: 15px;
    padding-bottom: 15px;
}

.feature-box-border .feature-box:not(.noborder)::after{
    display: none;
}
.feature-box-border .fbox-icon i, .feature-box-border .fbox-border.fbox-light .fbox-icon i{
    line-height: 50px;
}
.fbox-icon{
    width: 3.5rem;
    height: 3.5rem;
    padding: 0px;
    margin-right: 15px;
}
.logo-footer {
    width: 100%;
    height: 50px;
    object-fit: contain;
}

.footer .text {
    color: #d5fffa;
}
.footer .text a {
    color: white;
}
#footer .footer-widgets-wrap{
    padding-top: 15px;
    padding-bottom: 10px;

}
/* HOMEPAGE */
.whatsapp-btn{
    height: 60px;
    width: 60px;
    display: flex;
    align-items:center;
    justify-content: center;
    border-radius: 8px;
    background-color: #25D366;
}

.banner-hero {
    background-image: linear-gradient(120deg, #d5fffa, #30c0af);
    min-height: 380px;
}

/* .banner.card{
    border: 1px solid #126F64;
    background-color: #d5fffa;
    border: 5px;
} */
.banner-hero .title {
    color: black;
    font-weight: 500;
}
.banner-hero .title span {
    font-weight: 700;
}
.banner-img {
    width: 100%;

    object-fit: contain;
    border-radius: 10px;
}
.button_prim_circled {
    background-color: #126f64;
    border-radius: 10px;
    color: white;
    min-width: 175px;
}   
.title-part {
    color: black;
    font-weight: 600;
}
.title-part span {
    color: #126f64;
}
.divider {
    height: 55px;
}

.section-3 .card,
.section-2 .card {
    border: 1px solid #00473f;
    color: #d5fffa;
}
.section-2 ul li {
    font-size: 15px;
    color: #00473f;
    margin-bottom: 6px;
}
.title-sub {
    color: black;
    text-align: center;
    font-weight: 500;
}
.title-sub span {
    color: #126f64;
    font-weight: 700;
}
.banner-hero .button-bar {
    display: flex;
}
.section-3 {
    background-color: #f4fffe;
}

.circle-number {
    background-color: #126f64;
    border-radius: 50%;
    width: 45px;
    height: 45px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.circle-number .num {
    color: white;
    margin-bottom: 0px;
}
.num-row {
    margin-bottom: 15px;
}

.num-row .title {
    font-weight: 600;
    color: #126f64;
}

.num-row .detail {
    color: black;
    font-weight: 400;
}
.inner-padding {
    height: 30px;
}
.section-3 .card {
    width: 80%;
}

.img-section-3 {
    width: 100%;
    max-height: 370px;
    object-fit: contain;
    border-radius: 8px;
    margin-top: 25px;
    margin-bottom: 25px;
}

.img-section-4 {
    max-height: 370px;
    width: 100%;
    object-fit: contain;
}

.section-4 .card {
    border: 1px solid #126f64;
    border-radius: 8px;

}

.section-4 .bubble {
    position: relative;
    font-family: 'IBM Plex Serif';;
    font-size: 21px;
    line-height: 24px;
    font-weight: 600;
    background: #088d7d;
    border-radius: 40px;
    padding: 24px;
    text-align: center;
    color: white;
}
.section-4 .bubble-div{
    top: 0px;
    left: 35%;
}
.section-4 .bubble-bottom-left:before {
    content: "";
    width: 0px;
    height: 0px;
    position: absolute;
    border-left: 24px solid #088d7d;
    border-right: 12px solid transparent;
    border-top: 12px solid #088d7d;
    border-bottom: 20px solid transparent;
    left: 32px;
    
    bottom: -24px;
}

.subtitle{
    color: black;
    font-weight: 800;
}
.btn__prim{
    color: white;
    background-color: #126f64;
    font-weight: 600;
}
.title-form{
    color: #126f64;
    font-weight: 600;
    text-align: center;

}

.register-form .title-input{
    margin-bottom: 2px;
    color: #126f64;

}

.register-form .title-input span{
    color: red;
}
.register-form input{
    margin-bottom: 15px;
}
.img-section-form{
    width: 100%;
    height: 100%;
    
    object-fit: cover;
}
.title-mobile{
    display: none;
}
.section-form .card{
    border: 1px solid #00473f;
}
@media screen  and (max-width: 996px){
    .circle-number{
        width: 42px;
        height: 42px;
    }
    .section-4 .bubble{
        font-size: 19px;
    }
    .section-3 .card{
        width: 90%;
    }
}
@media screen and (max-width: 450px) {
    .img-section-form{
        margin-bottom: 25px;
    }
    .section-4 .bubble{
        display: none;
    }
    .section-2 ul li {
        font-size: 13px;
    }
    .banner-hero .row {
        margin-top: 25px;
        margin-bottom: 25px;
    }
    .banner-hero .button-bar {
        justify-content: center;
    } 
    .title-mobile{
        display: block;
        margin-bottom: 25px;
    }
    .section-4 .card{
        margin: 25px 0px;
    }
    .circle-number{
        margin-bottom: 10px;
    }
    .banner-hero .title{
        text-align: center;
    }
    .section-3 .card{
        width: 100%;
    }
    .section-form .card{
        margin-top: 25px;
    }
    .slider-element{
        background:linear-gradient(120deg,  rgb(255,255,255)10%, rgba(70,193,176, .7))
    }
}
/* Success Page */

.success-div .card {
    border: 1px solid #126f64;
    background-color: #d5fffa;
    border-radius: 12px;
}
.success-div .card-body {
    border-radius: 12px;
}
.success-div .details {
    color: black;
    font-weight: 500;
}
.success-div .link-zoom {
    color: #126f64;
}
.success-div .link-zoom:hover {
    color: #00473f;
}

.success-div .link-zoom:focus {
    color: #088d7d;
}

.img-success {
    width: 100%;
    object-fit: contain;
}
